small {
  color: #ffffff;
  height: 25px;
}
.title {
  color: #ffffff;
  font-size: 50px;
  font-family: Georgia;
  font-weight: 800;
  text-shadow: 3px 3px 1px #000000;
}
.subtitle {
  color: #ffffff;
  font-size: 20px;
}
.jumbotron {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.mod-links {
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 6px;
}
.panel {
  margin-bottom: 20px;
  background-color: #FFF;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.item-image {
    padding-top: 10px;
    height: 175px;
}
.thumbnail {
    min-height: 475px;
}
.bttmrt {
    position:absolute;
    bottom:20px;
    right:25px;
}
.copy {
    font-size: 12px;
    padding: 0px 7px 30px 7px;
}
.img-circle, .cat-img {
    max-height: 164px;
}
