{% extends "main.html" %}
{% block content %}
<div class"row">
{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-info">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>{{ message }}</strong>
        </div>
      {% endfor %}
    {% endif %}
{% endwith %}
  </div>
  {% for category in categories %}
    {# Test index for beginning of road and if so, output opening div #}
    {% if (loop.index % 4) == 1 %}
      <div class="row text-center">
    {% endif %}
        <div class="col-sm-3">
          <div class="panel panel-primary hvr-float-shadow">
            <div class="panel-heading">{{category.name}}</div>
              <div class="panel-body">
                <a href='{{url_for('showItems', category_id = category.id)}}'>
                  <img src="{{category.img_url}}" class="img-responsive cat-img" style="width:100%" alt="{{category.name}} Image">
                </a>
              </div>
                <a href='{{url_for('deleteCategory', category_id = category.id)}}'>
                  <span class="glyphicon glyphicon-remove pull-right mod-links"></span>
                </a>
                <a href='{{url_for('editCategory', category_id = category.id)}}'>
                  <span class="glyphicon glyphicon-pencil pull-right mod-links"></span>
                </a>
          </div>
        </div>
    {# Test index after 3rd iteration to close out row #}
    {% if (loop.index % 4) == 0 %}
      </div>
    {# If we are at the end of the list pad remaining columns - if needed #}
    {% elif ((loop.length + 1) - loop.index) == 0 %}
      {%for number in range( 4 - ((loop.length + 1) % 4)) %}
        <div class="col-sm-4"></div>
      {% endfor %}
      </div>
    {% endif %}

  {% else %}
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>There are no categories to display.</strong>
    </div>
  {% endfor %}
<br />
<div class"container">
  <div class="row">
    <footer class="container text-center">
      <p>Search category or item by name</p>
      <form class="form-inline">  
        <input type="email" class="form-control" size="30" placeholder="Enter search term here">
        <button type="button" class="btn btn-info">Find it</button>
      </form>
    </footer>
  </div>
{% endblock %}
