{% extends "main.html" %}
{% block content %}

<div class="container">
	<div class="row">
	<form class="form-horizontal" action="{{url_for('editItem', category_id = item.category_id, item_id = item.id)}}" method = 'POST'>
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">Name</label>
			<div class="col-sm-6">
				<input name="name" type="text" class="form-control" id="inputEmail3" placeholder="{{item.name}}">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword3" class="col-sm-3 control-label">Price</label>
			<div class="col-sm-6">
				<input name="price" type="text" class="form-control" id="inputPassword3" placeholder="Enter new price">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword3" class="col-sm-3 control-label">Description</label>
			<div class="col-sm-6">
				<input name="description" type="text" class="form-control" id="inputPassword3" placeholder="Enter new description">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword3" class="col-sm-3 control-label">Image URL</label>
			<div class="col-sm-6">
				<input name="img_url" type="url" class="form-control" id="inputPassword3" placeholder="Enter new image URL">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="col-sm-9">
				<input type="submit" class="btn btn-primary pull-right" value="Edit Item">
			</div>
		</div>
	</form>
	</div>
	<div class="row text-center">
		<p>Or <a href = "{{url_for('showCategories')}}">Cancel</a> to go back to categories.</p>
	</div>
</div>
<!--
<h1>Do you want to edit {{item.name}}?</h1>

<form action="{{url_for('editItem', category_id = item.category_id, item_id = item.id)}}" method = 'POST'>
	<p>Name:<input type='text' size='30' name='name' placeholder='{{item.name}}'><br />
	Description:<input type='text' size='35' name='description' placeholder='{{item.description}}'><br />
	Price:<input type='text' size='35' name='price' placeholder='{{item.price}}'><br />
	Image Url:<input type='text' size='35' name='img_url' placeholder='{{item.img_url}}'><br />
	<input type='submit' value='Edit Item'>
<a href = "{{url_for('showCategories')}}">Cancel</a>
</p>
</form>
-->
{% endblock %}