{% extends "main.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row text-center">
		<h3>Do you want to edit {{category.name}} category?</h3><br />
	</div>
	<div class="row">
		<form class="form-horizontal" action="{{url_for('editCategory', category_id = category.id)}}" method = "POST">
		<div class="form-group">
			<label for="categoryName" class="col-sm-4 control-label">Name</label>
			<div class="col-sm-5">
				<input name="name" type="text" class="form-control" placeholder="{{category.name}}">
			</div>
		</div>
		<div class="form-group">
			<label for="imgUrl" class="col-sm-4 control-label">Image Url</label>
			<div class="col-sm-5">
				<input name="img_url" type="url" class="form-control" placeholder="Enter url for new image">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-9">
				<input type="submit" class="btn btn-primary pull-right" value="Edit Category">
			</div>
		</div>
		</form>
	</div>
	<div class="row text-center">
		<p>Or <a href = "{{url_for('showCategories')}}">Cancel</a> to go back to categories.</p>
	</div>
</div>

{% endblock %}
